
<br><br><br>
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-4">

      <div class="card border-info text-center">
        <div class="card-header">
          <h4><strong>Registrarse</strong></h4>
        </div>
        <div class="card-body">


          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <img src="http://www.socialbiblio.com/sites/default/files/expertos/persona2.png" width="40%">
            <br><br>
              <%= f.hidden_field :tipo, :value => "normal" %>
              <%= f.hidden_field :estado, :value => "activo" %>
              <%= f.text_field :nombre, autofocus: true  , class: "form-control mb-2", placeholder: "nombres", :required => true %>
              <%= f.text_field :apellido, autofocus: true  , class: "form-control mb-2", placeholder: "apellidos", :required => true %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control mb-2", placeholder: "email", :required => true %>
              <%= f.password_field :password, autocomplete: "new-password" , class: "form-control mb-2", placeholder: "6 caracteres como Minimo", :required => true%>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control mb-2", placeholder: "password confirmation" ,:required => true %>

            <div class="actions">
              <%= f.submit "Guardar"  , class: "btn btn-primary btn-block mb-2"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
