<div class="container">


<h1>Lllamadas programadas</h1>
<hr>



<label>Hora Actual: </label> <h2 id='clock' class='the-clock'></h2>

<script language="JavaScript">
  let clock = document.getElementById('clock');
  let time = setInterval(()=>{
    startClock();
  },1000);

  function startClock(){
    let date = new Date();
    let hours = date.getHours();
    let minutes = date.getMinutes();
    let seconds = date.getSeconds();
    clock.innerText = hours + ':' + minutes + ':' + seconds;

    if(hours < 10){
      clock.innerText = '0' + hours + ':' + minutes + ':' + seconds;
    }

    else if(minutes < 10){
      clock.innerText = hours + ':' + '0' + minutes + ':' + seconds;
      if(seconds < 10){
         clock.innerText = hours + ':' + '0' + minutes + ':' + '0' + seconds;
       }
    }
    else if(seconds < 10){
       clock.innerText = hours + ':' + minutes + ':' + '0' + seconds;
    }
  }

</script>

<table class="table">
  <thead>
    <tr>
      <th>Fecha: </th>
      <th>Hora Inicial:</th>
      <th>Hora Fin: </th>
      <th>Usuario Local:</th>
      <th>Usuario Invitado:</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @llamadasprogramadas.each do |llamadasprogramada| %>
      <tr>
        <% if current_user.email == llamadasprogramada.user2 || current_user.email == llamadasprogramada.user1  %>
        <td><%= llamadasprogramada.fecha.strftime("%Y-%m-%d") %></td>
        <td><%= llamadasprogramada.horaini.strftime("%H:%M") %></td>
        <td><%= llamadasprogramada.horafin.strftime("%H:%M") %></td>
        <%  @user1 = User.where("email = ?", llamadasprogramada.user1 ).first  %>
        <%  @user2 = User.where("email = ?", llamadasprogramada.user2 ).first%>
        <td><%= @user1.nombre %></td>
        <td><%= @user2.nombre %></td>
        <% if ((llamadasprogramada.fecha.strftime("%Y-%m-%d") == Time.now.strftime("%Y-%m-%d")) && (llamadasprogramada.horaini.strftime("%H:%M") < Time.now.strftime("%H:%M")  && llamadasprogramada.horafin.strftime("%H:%M") > Time.now.strftime("%H:%M")))%>
        <td><%= link_to 'Entrar', llamadasprogramada , class: " btn btn-success"%></td>
        <% else %>
        <td><label> La llamada ya paso o no esta en hora</label></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
