<div class="container">

<h1>Mi Agenda: </h1> (Se recomienda que su hora este en hora de Bolivia : <%= Time.now.strftime("%H:%M") %>)
<br><br>
<input type="button" class="btn btn-primary" value="Recargar pagina" onClick="document.location.reload(true)">
<hr>
<label>Hora Actual de su computador: </label> <h2 id='clock' class='the-clock'></h2>

<script language="JavaScript">
  let clock = document.getElementById('clock');
  let time = setInterval(()=>{
    startClock();
  },1000);

  function startClock(){
    let date = new Date();
    let hours = date.getHours();
    let minutes = date.getMinutes();
    let seconds = date.getSeconds();
    clock.innerText = hours + ':' + minutes + ':' + seconds;

    if(hours < 10){
      clock.innerText = '0' + hours + ':' + minutes + ':' + seconds;
    }

    else if(minutes < 10){
      clock.innerText = hours + ':' + '0' + minutes + ':' + seconds;
      if(seconds < 10){
         clock.innerText = hours + ':' + '0' + minutes + ':' + '0' + seconds;
       }
    }
    else if(seconds < 10){
       clock.innerText = hours + ':' + minutes + ':' + '0' + seconds;
    }
  }

</script>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Fecha: </th>
      <th>Hora Inicial:</th>
      <th>Hora Fin: </th>
      <th>Empresa:</th>
    </tr>
  </thead>

  <tbody>
    <% @llamadasprogramadas.each do |llamadasprogramada| %>
      <tr>
        <% if current_user.email == (llamadasprogramada.user2).downcase || current_user.email == (llamadasprogramada.user1).downcase  %>
        <% if ((Time.now.strftime("%Y-%m-%d") == llamadasprogramada.fecha.strftime("%Y-%m-%d")) && (llamadasprogramada.horaini.strftime("%H:%M") <= Time.now.strftime("%H:%M")) && (llamadasprogramada.horafin.strftime("%H:%M") > Time.now.strftime("%H:%M")))%>
        <td><%= link_to 'Entrar', llamadasprogramada , class: " btn btn-success btn-sm"%></td>
        <% else %>
        <td><label><font color= red>La llamada ya paso o aun Falta </font></label></td>
        <% end %>
        <td><%= llamadasprogramada.fecha.strftime("%Y-%m-%d") %></td>
        <td><%= llamadasprogramada.horaini.strftime("%H:%M") %></td>
        <td><%= llamadasprogramada.horafin.strftime("%H:%M") %></td>
        <%  @user1 = User.where("email = ?", (llamadasprogramada.user1).downcase ).first%>
        <%  @user2 = User.where("email = ?", (llamadasprogramada.user2).downcase ).first%>
        <% if current_user.email == (llamadasprogramada.user2).downcase%>
        <td><button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#Modal<%= @user1.id %>"><i class="fa fa-eye"></i></button>
         <%= @user1.nombre %></td>

         <div class="modal fade" id="Modal<%= @user1.id %>" role="dialog">
           <div class="modal-dialog modal-lg">
             <div class="modal-content">
               <div class="modal-header">
                 <h4 class="modal-title"><%= @user1.nombre %></h4>
               </div>
               <div class="modal-body">
                 <div class="form-group">
                   <label><strong>Direccion:</strong></label>
                   <input type="text" class="form-control" value="<%= @user1.direccion %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Pais:</strong></label>
                   <input type="text" class="form-control" value="<%= @user1.pais %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Estado o Región:</strong></label>
                   <input type="text" class="form-control" value="<%= @user1.region %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Ciudad:</strong></label>
                   <input type="text" class="form-control" value="<%= @user1.ciudad %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Telefono:</strong></label>
                   <input type="text" class="form-control" value="<%= @user1.telefono %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Fax:</strong></label>
                   <input type="text" class="form-control" value="<%= @user1.fax %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Correo Electronico:</strong></label>
                   <input type="text" class="form-control" value="<%= @user1.correo %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Pagina Web:</strong></label>
                   <input type="text" class="form-control" value="<%= @user1.paginaweb %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Oferta:</strong></label>
                   <textarea class="form-control" rows="4" readonly><%= @user1.oferta %></textarea>
                 </div>
                 <div class="form-group">
                   <label><strong>Demanda:</strong></label>
                   <textarea class="form-control" rows="4" readonly><%= @user1.demanda %></textarea>
                 </div>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
               </div>
             </div>
           </div>
         </div>

         <%else%>

        <td><button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#ModalI<%= @user2.id %>"><i class="fa fa-eye"></i></button>
         <%= @user2.nombre %></td>
         <div class="modal fade" id="ModalI<%= @user2.id %>" role="dialog">
           <div class="modal-dialog modal-lg">
             <div class="modal-content">
               <div class="modal-header">
                 <h4 class="modal-title"><%= @user2.nombre %></h4>
               </div>
               <div class="modal-body">
                 <div class="form-group">
                   <label><strong>Direccion:</strong></label>
                   <input type="text" class="form-control" value="<%= @user2.direccion %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Pais:</strong></label>
                   <input type="text" class="form-control" value="<%= @user2.pais %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Estado o Región:</strong></label>
                   <input type="text" class="form-control" value="<%= @user2.region %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Ciudad:</strong></label>
                   <input type="text" class="form-control" value="<%= @user2.ciudad %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Telefono:</strong></label>
                   <input type="text" class="form-control" value="<%= @user2.telefono %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Fax:</strong></label>
                   <input type="text" class="form-control" value="<%= @user2.fax %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Correo Electronico:</strong></label>
                   <input type="text" class="form-control" value="<%= @user2.correo %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Pagina Web:</strong></label>
                   <input type="text" class="form-control" value="<%= @user2.paginaweb %>" readonly>
                 </div>
                 <div class="form-group">
                   <label><strong>Oferta:</strong></label>
                   <textarea class="form-control" rows="4" readonly><%= @user2.oferta %></textarea>
                 </div>
                 <div class="form-group">
                   <label><strong>Demanda:</strong></label>
                   <textarea class="form-control" rows="4" readonly><%= @user2.demanda %></textarea>
                 </div>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
               </div>
             </div>
           </div>
         </div>
         <%end%>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>
</div>
