<% if current_user.email == (@llamadasprogramada.user2).downcase   || current_user.email == (@llamadasprogramada.user1).downcase %>

<% if ((Time.now.strftime("%Y-%m-%d") == @llamadasprogramada.fecha.strftime("%Y-%m-%d")) && (@llamadasprogramada.horaini.strftime("%H:%M") <= Time.now.strftime("%H:%M")) && (@llamadasprogramada.horafin.strftime("%H:%M") > Time.now.strftime("%H:%M")))%>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style type="text/css" media="screen">
        div.relative {
          position: absolute;
          left: 0%;
          top: 15%%;
          border: 3px solid #A8301C;
        }

        div.relative_main {
          position: absolute;
          left: 50%;
          top: 15%%;
          border: 3px solid #A8301C;
        }

        .float{
          	position:fixed;
          	width:80px;
          	height:80px;
          	bottom:10px;
          	right:20px;
          	background-color: red;
          	color:#FFF;
          	border-radius:50px;
          	text-align:center;
          }

          .my-float{
          	margin-top:32px;
          }
    </style>

    <script>

        <% @sala = Sala.where("id = ?", @llamadasprogramada.idSala ).first %>


        var apiKey =  "<%= @sala.apikey %>";
        var sessionId = "<%= @sala.sessionID %>";
        var token = "<%= @sala.token %>";
        var session = TB.initSession(sessionId);
        TB.setLogLevel(TB.DEBUG);
        session.addEventListener('sessionConnected',sessionConnectedHandler);
        session.addEventListener('streamCreated',streamCreatedHandler);


        session.connect(apiKey,token);
        function sessionConnectedHandler(event){
            var publisherOptions = {
                width: '50%',
                height: '100%'
            };


            session.publish("myPublisher", publisherOptions);
            for (var i = 0; i < event.streams.length; i++) {
                if (session.connection.connectionId != event.streams[i].connection.connectionId) {
                    subscribeToStream(event.streams[i]);
                }

            }
        }
        function streamCreatedHandler(event){
            var countPx = 0;
            var total = 10;
            for (var i = 0; i < event.streams.length; i++) {
                if (session.connection.connectionId != event.streams[i].connection.connectionId) {
                    total = total + countPx;
                    subscribeToStream(event.streams[i], total);
                    countPx = 210;
                    console.log(total);
                }

            }
        }

        function subscribeToStream(stream){
            var subscriptor = {
               width: '50%',
               height: '100%',
            };
            var div = document.createElement('div');
            div.setAttribute('id','stream-' + stream.streamId);
            div.setAttribute('class','relative');
            document.body.appendChild(div);
            session.subscribe(stream, div.id, subscriptor);
        }
    </script>
</head>
<body>

  <div class="text-center">
    <h4>Hora Actual: </h4><h2 id='clock' class='the-clock'></h2>
  </div><br>
  <hr>

  <script>
  function closecall() {
    window.location.href="/llamadasprogramadas"
  }
  </script>

  <script language="JavaScript">
    let clock = document.getElementById('clock');
    let time = setInterval(()=>{
      startClock();
    },1000);

    function startClock(){
      let date = new Date();
      let hours = date.getHours();
      let minutes = date.getMinutes();
      let seconds = date.getSeconds();
      clock.innerText = hours + ':' + minutes + ':' + seconds;

      if(hours < 10){
        clock.innerText = '0' + hours + ':' + minutes + ':' + seconds;
      }

      else if(minutes < 10){
        clock.innerText = hours + ':' + '0' + minutes + ':' + seconds;
      }

      else if(seconds < 10){
         clock.innerText = hours + ':' + minutes + ':' + '0' + seconds;
      }
      if(<%= @llamadasprogramada.horafin.strftime("%H") %> == hours){
        if(<%= @llamadasprogramada.horafin.strftime("%M") %> - 5 == minutes && seconds == 00){
          alert("Su llamada ya acabara en 5 minutos");
          date = new Date();
        }
        if(<%= @llamadasprogramada.horafin.strftime("%M") %> == minutes){
          window.location.href="/llamadasprogramadas"
        }
      }
    }

  </script>
<div id="myPublisher" class="relative_main"></div>

<a onclick="closecall()"class="float">
  <i class="fa fa-phone my-float"></i>
</a>




</body>
</html>
<%else%>

<meta http-equiv="refresh" content="0; url= /" />
<%end%>

<%else%>
  <meta http-equiv="refresh" content="0; url= /" />
<%end%>
