<div class="container">
  <h1>Salas</h1>
  <hr>
  <%= link_to 'Nueva Sala +', new_sala_path , class: "btn btn-success" %>
  <br><br>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Minutos</th>
        <th colspan="3">Opciones</th>
      </tr>
    </thead>
    <% @contador = 1 %>
    <tbody>
      <% @salas.each do |sala| %>
        <tr>
          <td><%= @contador %></td>
          <td><%= sala.nombre %></td>
          <td><%= sala.minutos %></td>
          <td><%= link_to 'Ver', sala %></td>
          <td><%= link_to 'Editar', edit_sala_path(sala) %></td>
          <td><%= link_to 'Eliminar', sala, method: :delete, data: { confirm: 'Esta Seguro de eliminar la sala?' } %></td>
        </tr>
        <% @contador= @contador+1 %>
      <% end %>
    </tbody>
  </table>
</div>
<br>
